@charset "ISO-8859-1";

.names{
	font-family: Raleway; 
	font-size: 20px;
	margin-top: -4px;
	margin-left: -5px;
	max-width: 130px;
	overflow: hidden;
	color: white
}

#explorer{
	height: 570px;
}

#options{
	float: right;
	margin-right: 20%;
}

#name{
	max-width: 100%;
	overflow: hidden;
	font-weight: bold;
}

.icon_folder{
	padding-top: 10px;
}

.createInput{
	margin-top: -10px;
    margin-bottom: 10px;
}

.fileButton{
	margin-right: 5px;
	margin-left: 5px;
}