@charset "ISO-8859-1";
.change{
	margin-bottom: 10px;
}

#contentDiv{
	height: 500px;
}

.save{
	float: right;
}
.myTable{
	    border: 1px solid #ddd;
}
td{
	text-align:center;
	border: 1px solid #ddd;
}
.Input{
	margin-bottom: 10px;
}

.columns{
	width: 1%;
}

.name{
	width: 40%;
	text-align: center;
}

#myprofile{
	margin-top: 30px;
}